<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body bgcolor="#000000">
    <p style="font-size: 11.0pt;"><span style="color: #008000; font-family: 'Menlo'; font-weight: bold;">Hello here!</span><span style="color: #008000; font-weight: bold;"><br /></span><span style="color: #008000; font-weight: bold; font-family: 'Menlo';">What you're seeing is an introduction to the Crypto system.</span><span style="color: #008000; font-weight: bold;"><br /></span></p>
    <ul>
    <li style="color: #008000; font-family: 'Menlo'; font-size: 10.0pt;">Visit 0.0.0.0:5000/mine/ to mine Cryptos.</li>
    <li style="color: #008000; font-family: 'Menlo'; font-size: 10.0pt;">Visit 0.0.0.0:5000/all/ to see all of the transactions.</li>
    <li style="color: #008000; font-family: 'Menlo'; font-size: 10.0pt;">Visit 0.0.0.0:5000/add/[to]_[amount] to add a new transaction.</li>
    <li style="color: #008000; font-family: 'Menlo'; font-size: 10.0pt;">Visit 0.0.0.0/new/ to generate new keypair.</li>
    <li style="color: #008000; font-family: 'Menlo'; font-size: 10.0pt;">Visit 0.0.0.0:5000/update/ to be up to date with Crypto.</li>
    <li style="color: #008000; font-family: 'Menlo'; font-size: 10.0pt;">Visit 0.0.0.0:5000/cont/[IP address]/ to add a new contact.</li>
    </ul>
    <p style="font-size: 11.0pt;"><span style="color: #008000; font-family: 'Menlo'; font-weight: bold;">The system is in active development. You can customize the source code and the wallet as you wish. Try to run some attacks - maybe my system doesn't work so well! Anyway, I'll be pleased to receive some feedback.</span><span style="color: #008000; font-weight: bold;"><br /></span></p>
</ul>
</body>
</html>